*
!*/
!.gitignore

!其他资料/**/*.lnk

!*/PCB/**
!*/项目需求/**/*.lnk
!*/资料文档/**/*.lnk

!*/程序代码/**/Doc/**
!*/程序代码/**/Core/**/*.h
!*/程序代码/**/Core/**/*.c
!*/程序代码/**/Drivers/**/*.h
!*/程序代码/**/Drivers/**/*.c
!*/程序代码/**/MDK-ARM/*.s
!*/程序代码/**/MDK-ARM/*.uvprojx
!*/程序代码/**/Middlewares/**/*.c
!*/程序代码/**/Middlewares/**/*.h
!*/程序代码/**/*.ioc
!MDK创建工程步骤/**

!*/程序代码/**/OpenOCD/**
!*/程序代码/**/SVD/**
!*/程序代码/**/Makefile/**
!*/程序代码/**/*.ld

!PY32测试开发板_MDK/Doc/**
!PY32测试开发板_MDK/Core/**/*.h
!PY32测试开发板_MDK/Core/**/*.c
!PY32测试开发板_MDK/Drivers/**/*.h
!PY32测试开发板_MDK/Drivers/**/*.c
!PY32测试开发板_MDK/MDK-ARM/*.s
!PY32测试开发板_MDK/MDK-ARM/*.uvprojx
!PY32测试开发板_MDK/Middlewares/**/*.c
!PY32测试开发板_MDK/Middlewares/**/*.h
!PY32测试开发板_MDK/*.ioc
!PY32测试开发板_MDK/OpenOCD/**
!PY32测试开发板_MDK/SVD/**
!PY32测试开发板_MDK/Makefile/**
!PY32测试开发板_MDK/*.ld


/.idea/**